* {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

body {
	background: #212D40;
	color: #fff;
}

.container {
	max-width: 1050px;
	margin: auto;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

section.hero {
	text-align: center;
	padding-top: 100px;
	margin-bottom: 200px;
}

.skills {
	text-align: center;
	font-size: 0;
}
	.skills li {
		display: inline-block;
		vertical-align: middle;
		margin: 10px 30px;
	}

section.border {
	margin-bottom: 100px;
}
	section.border .container {
		padding-top: 50px;
		padding-bottom: 50px;
	}
		@media(min-width: 768px) {
			section.border .container,
			section.band .container {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
		section.border .container:before {
			content: '';
			border: 1px solid #EB657C;
			position: absolute;
			left: 50%;
			top: 0;
			transform: translateX(-50%);
			width: 85%;
			height: 100%;
			pointer-events: none;
			z-index: -1;
		}
	section.border.intro .container:after {
		content: '';
		width: 1px;
		height: 100px;
		background: #EB657C;
		position: absolute;
		left: 50%;
		transform: translateY(-50%);
		top: -50px;
	}

.border__content img {
	width: 100%;
	display: block;
	margin: 0;
}

/*Intro*/
section.border.intro img {
	box-shadow: 0 1px 20px rgba(0,0,0,0.2);
}
@media(min-width: 768px) {
	section.border.intro .container .border__content {
		order: 2;
	}
	section.border.intro .container article {
		width: 40%;
	}
}
/*/Intro*/

/*Trabajos*/
@media(min-width: 768px) {
	section.border.trabajos .container .border__text {
		order: 2;
		width: 40%;
	}
	section.border.trabajos .container .border__content {
		width: 50%;
	}
}
/*/Trabajos*/

/*Blog*/
@media(min-width: 768px) {
	section.border.blog .container article {
		width: 40%;
	}
}
/*/Blog*/

section.band {
	padding: 50px 0;
}
	section.band.light-blue {
		background: #3A405A;
	}

/*Contacto*/
@media(min-width: 768px) {
	section.band.contacto .container .border__text {
		width: 50%;
	}
	section.band.contacto .container .border__content {
		width: 30%;
	}
}
section.band.contacto .border__title {
	font-size: 30px;
}
section.band.contacto .border__sub {
	font-size: 19px;
}
.contactoinfo {
	border: 1px solid #EB657C;
	padding: 45px 30px;
}
	.contactoinfo li {
		margin-bottom: 15px;
	}
	.contactoinfo li:last-child {
		margin: 0;
	}
	.contactoinfo li a {
		color: #fff;
		text-decoration: underline;
		padding-left: 25px;
		display: block;
		position: relative;
	}
		.contactoinfo li a:before {
			content: '';
			display: block;
			width: 10px;
			height: 10px;
			background: #EB657C;
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: calc(50% - 5px);
		}
/*/Contacto*/

footer {
	padding: 30px 0;
	text-align: center;
}